
{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        <div class="row">
            <div class="chooseCategory">
                <div class="content">

                    <div class="text-center stepsNumber white">
                        <a href="{{ path('home') }}">
                            <div id="step1"><span class="ft-30 white">1</span></div>
                        </a>
                        <div class="line"></div>
                        <div><span class="ft-30">2</span></div>
                    </div>

                    <h2 class="fontTitle ft-40 lightBlue">Recherchez un élément dans la catégorie <span class="darkBlue">{{ category[0].name }}</span></h2>
                    <p class="white">
                        Utilisez les critères de recherche pour trouver des éléments de la catégorie {{ category[0].name }}.
                    </p>
                    <p class="white">
                        Les résultats de recherche sont automatiquement mis à jour à la modification d'un critère et sont classés par ordre de correspondance.
                    </p>
                    <p class="white">
                        Une fois les résultats affichés vous pouvez continuer à affiner votre recherche à l'aide des différents critères.
                    </p>
                    <a class="buttonStyle white" href="{{ path('home') }}"><i class="fa fa-chevron-left" aria-hidden="true"></i>
     Retour à l'étape 1</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="everyCategories mTop30">
                <div class=" col-md-6 col-sm-12">
                    <div class="bgForm resultsStyle">
                        <ul class="resultsTitle">
                            <li class="white fontChampagne ft-25 resultsTitle displayBlock">Critères de recherche</li>
                        </ul>
                        {{ form_start(form, { 'attr' : { 'class' : 'formStyle '}} ) }}
                            {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>

               <div class="results resultsStyle col-md-6 col-sm-12">
                   <ul>

                   </ul>
                   <div class="modal_img"></div>
               </div>
           </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/lpdwsearchengine/js/step2javascript.js') }}"></script>
{% endblock %}
