{% extends 'lpdwSearchEngineBundle::layout.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="container-fluid">
        <div class="row">
            <div class="chooseCategory">
                <div class="content">
                    <h2 class="fontTitle ft-40 lightBlue">Liste des caractéristiques de la catégorie <span class="darkBlue">{{ category_name }}</span></h2>
                    <p class="white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis in tellus dui.
                        Morbi eu finibus nisi, ullamcorper faucibus est.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                    <a class="buttonStyle white" href="{{ path('searchEngine_category_index') }}"><i class="fa fa-chevron-left" aria-hidden="true"></i>
     Retour aux catégories</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="everyCategories col-md-12 col-sm-12">
               <div id="grid" data-columns>
                   {% set i = 0 %}
                   {% for feature in features %}
                       <div class="grid-item text-center {{ i is divisible by(2) ? 'bgDarkGreen' : 'bgLightGreen' }}">
                           <!-- Button trigger modal -->
                           <div class="w100 ft-20">{{ feature.name }}</div><br/>
                       </div>
                       {% set i = i + 1 %}
                   {% endfor %}
                </div>
           </div>
           <div class="everyCategories col-md-12 col-sm-12">
               <a class="buttonStyle mTop20 ft-20 fontChampagne" href="{{ path('searchEngine_feature_new', {'category_name' : category_name}) }}">
                   Ajouter une caractéristique
               </a>
           </div>
        </div>

    </div>

{% endblock %}
